<%= form_for @user, url: update_password_path, method: :post do |f| %>
    <%= hidden_field_tag :setting, "password" %>
    <div class="form-group">
        <%= f.label :password, t("settings.password.old"), class: "form-label" %>
        <%= f.password_field :password, class: "form-control #{form_is_invalid?(@user, :password)}", autocomplete: :off, required: true %>
    </div>
    <div class="form-group">
        <%= f.label :new_password, t("settings.password.new"), class: "form-label" %>
        <%= f.password_field :new_password, class: "form-control #{form_is_invalid?(@user, :password)}", autocomplete: :off, required: true %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, t("settings.password.confirmation"), class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control #{form_is_invalid?(@user, :password_confirmation)}", autocomplete: :off, required: true %>
    </div>
    <div class="form-group">
        <%= f.submit t("update"), class: "btn btn-primary" %>
    </div>
<% end %>
