<div class="container-fluid">

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="m-0 font-weight-bold tcolor">All Contacts (<%= @pagy.count %>)</h4>
                        </div>
                        <div class="col-md-4">
                            <form>
                                <div class="input-group call-inv sear-b">
                <span class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-right-0 call-sear"><i
                        class="fa fa-search"></i></div>
                </span>
                                    <input class="form-control py-2 border-left-0 border call-invi" name="keyword"
                                           type="search"
                                           value="<%= params[:keyword] %>"
                                           placeholder="Search - by first name / by last name / or by email">

                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 text-right">
                            <%= link_to new_contact_path, class: "add-contacts-btn" do %>
                                <i class="fa fa-plus"></i>ADD NEW
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts-page">
                    <div class="row contact-row">
                        <% if @contacts %>
                            <% @contacts.each do |contact| %>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card profile mb-3">
                                        <div>
                                            <%= form_with url: delete_contact_path(id: contact.id), method: :delete, class: "form-inline float-right" do |form| %>
                                                <button type="button" class="btn btn-link text-danger" data-target="#confirmDelete" data-toggle="modal">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            <% end %>
                                            <%= link_to edit_contact_path(contact.id), class: 'btn btn-link float-right' do %>
                                                <i class="fas fa-pencil-alt"></i>
                                            <% end %>
                                        </div>
                                        <div class="desc">
                                            <span class="avatar avatar-xxxl"><%= contact.first_name.first %></span>
                                            <h3><%= contact.first_name %> <%= contact.last_name %></h3>
                                            <% if contact.department %>
                                                <p class="title"><%= contact.department %></p>
                                            <% end %>
                                            <% if contact.company %>
                                                <p class="profile-location">
                                                    <i class="fas fa-map-marker-alt"></i> <%= contact.company %>
                                                </p>
                                            <% end %>
                                        </div>
                                        <div class="social-icons">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <a href="tel:<%= contact.phone1 %>" data-toggle="tooltip" data-placement="top" title="<%= contact.phone1 %>">
                                                        <i class="fas fa-phone-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <a data-toggle="tooltip" data-placement="top" title="<%= contact.email %>" href="mailto:<%= contact.email %>">
                                                        <i class="fas fa-envelope"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                                <div class="col-md-3 text-right" data-toggle="tooltip" data-placement="top" title="<%= contact.notes %>">
                                                    <i class="far fa-comment-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>
                            <div class="col-md-12 text-center">
                                No contacts found.
                            </div>
                        <% end %>

                    </div>
                </div>
                <div class="card-footer">
                    <%= pagy_bootstrap_nav(@pagy).html_safe %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-danger" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Confirm Delete
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="confirm">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>